{% extends 'partial/base.html' %}
{%  include 'search.html' %}
{% block content %}

<table class="table mt-4">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Краткое описание </th>
      <th scope="col">Типы</th>
      <th scope="col">Статус</th>
      <th scope="col">Описание</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Дата обновления</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ task.summary }}</td>
      <td>
          {% for type in task.types.all %}
              {{ type.title  }}
              {% if not forloop.last  %}
                  ,
              {% endif  %}
          {% endfor %}
      </td>
      <td>{{ task.status.title }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.create_date }}</td>
      <td>{{ task.update_date }}</td>
    </tr>
  </tbody>
</table>


{%  endblock content %}