
{% if is_paginated %}
    {%  if lists_pages.object_list.count == 0 %}
        <h3 align="center">No task</h3>
    {% else %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
                {% if lists_pages.has_previous %}
                    <a class="page-link" href="?page={{ lists_pages.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
            </li>
            {% for page in lists_pages.paginator.page_range %}
                <li class="page-item{% if page == lists_pages.page_obj.number %} active {% endif %}">
                    <a class="page-link " href="?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item">
                {% if lists_pages.has_next %}
                    <a class="page-link" href="?page={{ lists_pages.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            </li>
          </ul>
        </nav>
    {% endif %}
{% endif %}


