{% extends 'base.html' %}
{% block content %}

<a class="btn btn-success mt-3 mb-3" href="{% url 'add_view' %}">ДОБАВИТЬ ЗАПИСЬ</a>

{% if tasks.count == 0 %}
    <h3 align="center">Нету записей</h3>
{% endif %}
{%  for t in tasks %}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Краткое описание </th>
      <th scope="col">Тип</th>
      <th scope="col">Статус</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Дата обновления</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ t.summary }}</td>
      <td>{{ t.type.title }}</td>
      <td>{{ t.status.title }}</td>
      <td>{{ t.create_date }}</td>
      <td>{{ t.update_date }}</td>
      <td><a href="{% url 'update_view' t.id %}">Редактировать</a></td>
    </tr>
  </tbody>
</table>
{% endfor %}

{%  endblock content %}