{% extends 'base.html' %}
{% block content %}

<a class="btn btn-success mt-3 mb-3" href="{% url 'add_view' %}">ДОБАВИТЬ ЗАПИСЬ</a>

{% if tasks.count == 0 %}
    <h3 align="center">Нету записей</h3>
{% endif %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Краткое описание </th>
      <th scope="col">Типы</th>
      <th scope="col">Статус</th>
      <th scope="col">Дата создания</th>
      <th scope="col">Дата обновления</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {%  for t in tasks %}
    <tr>
      <td><a href="{% url 'task_view' t.id %}">{{ t.summary }}</a></td>
      <td>
          {% for type in t.types.all %}
              {{ type.title  }}
              {% if not forloop.last  %}
                  ,
              {% endif  %}
          {% endfor %}
      </td>
      <td>{{ t.status.title }}</td>
      <td>{{ t.create_date }}</td>
      <td>{{ t.update_date }}</td>
      <td>
          <a class="mr-3" href="{% url 'update_view' t.id %}">Редактировать</a>
          <a href="{% url 'remove_view' t.id %}">Удалить</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{%  endblock content %}