{% extends 'partial/base.html' %}
{% include 'task/tasks_template.html' %}
{% block content %}

    <span>
    {% if perms.webapp.add_task and request.user in project.users.all %}
        <a class="btn btn-success mt-4 mb-3" href="{% url 'webapp:add_view' project.id %}">ДОБАВИТЬ ЗАПИСЬ</a>
    {% endif %}
        {%  include 'partial/search.html' %}
    </span>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Задачи </th>
          <th scope="col">Типы</th>
          <th scope="col">Статус</th>
          <th scope="col">Дата создания</th>
          <th scope="col">Дата обновления</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
            {% for t in lists_pages %}
                <tr>
                  <td><a href="{% url 'webapp:task_view' t.id %}">{{ t.summary }}</a></td>
                  <td>
                      {% for type in t.types.all %}
                          {{ type.title  }}
                          {% if not forloop.last  %}
                              ,
                          {% endif  %}
                      {% endfor %}
                  </td>
                  <td>{{ t.status.title }}</td>
                  <td>{{ t.create_date }}</td>
                  <td>{{ t.update_date }}</td>
                  <td>
                  {% if perms.webapp.change_task and request.user in project.users.all %}
                      <a class="mr-3" href="{% url 'webapp:update_view' t.id %}">Редактировать</a>
                    {% endif %}
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#removeModal_">
                            {% if perms.webapp.delete_task and request.user in project.users.all %}
                                <a data-toggle="modal" data-target="#removeModal_{{ t.id }}" href="{% url 'webapp:remove_view' t.id %}">Удалить</a>
                            {% endif %}
                        </button>
                      <div class="modal fade" id="removeModal_{{ t.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                      <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Удаление</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                      </div>
                                      <div class="modal-body">
                                            Вы действительно хотите удалить?
                                       </div>
                                      <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>

                                            <a type="button" class="btn btn-danger" href="{% url 'webapp:remove_view' t.id %}">Да</a>

                                      </div>
                                </div>
                          </div>
                      </div>
                  </td>
                </tr>
            {%  endfor %}
        </tbody>
    </table>
    <hr>
<ul class="list-group mb-3">
  <li class="list-group-item disabled">Пользователи проекта</li>
     {% for u in project.users.all %}
        <li class="list-group-item">
        <a href="{% url 'accounts:user-detail' u.id%}">{{ u.username }}</a>
        </li>
     {% endfor %}
</ul>

<span>
    {% if perms.webapp.add_delete_user and request.user in project.users.all %}
        <a class="btn btn-outline-warning mt-4 mb-3"  href="{% url 'accounts:add-user' project.pk %}">ДОБАВИТЬ ПОЬЗОВАТЕЛЯ</a>
    {% endif %}
</span>

{% include 'partial/pagination.html' %}
{%  endblock content %}